extends layout

block content

  .header
    h1= title
    input#reader(type="file", accept="video/*", name="video")
    a#selector(href="#") select video 

  #viewer
    #container
      .layer-1.left
      .layer-1.right

    #ui

      #seek
        #progress
      #controls
        #buttons
          #play play
        #shift
          .shift(data-value="3") 3
          .shift.active(data-value="5") 5
          .shift(data-value="10") 10
        #rate
          .rate(data-value="0.5") 0.5
          .rate.active(data-value="1.0") 1.0
          .rate(data-value="1.5") 1.5

