extends layout

block content

  .header
    h1= title
    input#reader(type="file", accept="video/*", name="video")
    a#selector(href="#") select video 

  #viewer
    #container
      .layer-1.left
      .layer-1.right

    #ui

      #controls
        #buttons
          a#play(href="") play
        #shift
          a.shift(href="#", data-value="3") 3
          a.shift(href="#", data-value="5") 5
          a.shift(href="#", data-value="10") 10
        #rate
          a#rate-h(href="#") 0.5
          a#rate-1(href="#") 1.0
          a#rate-2(href="#") 1.5

