extends layout

block content

  .header
    h1= title
    input#reader(type="file", accept="video/*", name="video")
    a#selector(href="#") select video 

  #viewer
    #controls
      a#prev(href="#") prev
      a#play(href="") play
      a#next(href="#") next

