extends layout

block content

  .header
    h1= title
    input#reader(type="file", accept="video/*", name="video")
    a#selector(href="#") select video 

  #viewer
    #controls
      a#prev(href="#") prev
      a#play(href="") play
      a#next(href="#") next

      a#shift-value-3(href="#") 3
      a#shift-value-5(href="#") 5
      a#shift-value-10(href="#") 10

      a#rate-h(href="#") 0.5
      a#rate-1(href="#") 1.0
      a#rate-2(href="#") 1.5

