body {
  width: 100%;
  margin: 0;
  border: 0;
  padding: 0;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

a {
  color: #00B7FF;
}

.header {
  width: 100%;
  padding: 40px;
  box-sizing: border-box;
  text-align: left;
  input#reader {
    display: none;
  }
}

#viewer {
  max-width: 760px;
  width: 100%;
  margin: 0 auto;
  box-sizing: border-box;
  position: relative;

  #container {
    width: 100%;
    position: relative;
    video {
      width: 100%;
      position: relative;
      z-index: 0;
    }
  
    .layer-1 {
      position: absolute;
      top: 0;
      z-index: 1;
      width: 50%;
      height: 100%;
      &.left {
        left: 0;
      }
      &.right {
        right: 0;
      }
    }
    }

  #ui {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    z-index: 2;
    #controls {
      color: #fff;

      div {
        cursor: pointer;
        &#buttons {
          position: absolute;
          bottom: 0;
          left: 0;
        }
        &#shift {
          position: absolute;
          bottom: 0;
          right: 0;
        }
        &#rate {
          position: absolute;
          bottom: 0;
          right: 50%;
        }
        div {
           display: inline-block;
           + div {
             margin-left: 20px;
           }
        }
      }

      .active {
        color: #f00;
      }
    }
  }
}